<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components/footer.css">
    <script src="https://kit.fontawesome.com/30c27dcb00.js" crossorigin="anonymous"></script>
    <title>footer</title>
</head>
<body>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-intro">
                <h4>Game of  thrones</h4>
                <p>There is only one God, and His name is Death. And there is only one thing we say to Death: not today! – Syrio Forel</p>
            </div>
    
            <div class="footer-menu">
                <h4>Menu</h4>
                <ul>
                    <li>Menu</li>
                    <li>Curiosidades</li>
                    <li>Gráficos</li>
                    <li>Squad</li>
                </ul>
            </div>
    
            <div class="footer-contato">
                <h4>Fale Conosco</h4>
                <ul>
                  <li><a href="#"><i class="fas fa-map-marker-alt"></i>Rua Lannister, 27, Centro - RJ/a></li>
                  <li><a href="#"><i class="fas fa-phone-alt"></i>(33)34811612</a></li>
                  <li><a href="#"><i class="fas fa-envelope"></i>GotSquad9@hotmail.com</a></li>
                </ul>
              </div>
        </div>
        </footer>
</body>
</html>